# docker-compose.dev.yml
version: "3.8"

services:
  postgres:
    image: postgres:15-alpine
    container_name: ticketbottle-postgres
    environment:
      POSTGRES_DB: ticketbottle
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  redis_data:
  postgres_data:
